@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
@import url('./fonts/icons/style.css');
:root{
--gradient: linear-gradient(to right, #8b4f82, #e1a8ce);
--grey: #f0f0f0;
--light: white;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
font-family: 'Rubik', sans-serif;
background-color: #e0e5eb;
height: 100vh;
display: grid;
align-items: center;
justify-items: center;
}

.mobile{
    width: 320 px;
    height: 700px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: -10px 10px 20px rgba(0,0,0,0.4);
    display: grid;
    grid-template-rows: 48px 1fr 62px;

}

.mobile__top,
.mobile__bottom{
    align-self: center;
    justify-self: center;

}
.mobile__content{
    background :#fff;

}

.rooms {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: center;
    align-items: center;
    grid-gap: 14px;
}


.room {
    cursor: pointer;
    display: grid;
    grid-template-rows: 130px 30px;
    align-content: center;
    font-size: 16px;
    text-align: center;
    background-color: var(--grey);
    border-radius: 12px;
}
.room.selected{
    background: var(--gradient);
    color: white

}
.room.selected i{
    opacity: 1;
}
.room i{
    align-self: center;
    font-size: 5em;
    opacity: 0.7;
}

/* UI - Components */
.selectbox {
    cursor: pointer;
    width: max-content;
    margin: 0 auto;
    position: relative;
    margin-bottom: 25px;
}
.selectbox__selected {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.ic_arrow {
    font-size: 0.7em;
    margin-left: 10px;
}
.selectbox.open .selectbox__list{
    top: 120%;
    max-height: 200px;
}
.selectbox__list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-height: 0;
    overflow: hidden;
    padding: 4px 0;
    border-radius: 3px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
.selectbox__item {
    cursor: pointer;
}
.selectbox__item.selected,
.selectbox__item:hover{
    font-weight: 600;
    color: #7e77ee;
}

.selectbox__item:not(:last-child){
    margin-bottom: 4px;
}

